h2 {
    text-align: center;
    color: #ffffff;
}

p {
    color: #fff;
}

#intro {
    background: #000 url("../img/background.jpg") no-repeat bottom;
    background-size: cover;
    height: 100vh;
}

#intro div {
    position: relative;
    top: 40%;
    width: 100%;
}

#name {
    font-size: 8vh;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

#about {
    background-color: #121335;
    /* background-color: #252627; */
}

#skills {
    background-color: #fff;

}

#projects {
    background-color: #121335;
}

.p-dark {
    color: #000;
}